* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

body {
    overflow-x: hidden;
    background: linear-gradient(261deg, #162758 2.47%, #0A142A 97.49%);
}

.gradienti {
    display: flex;
    position: relative;
    top: -450px;
    left: 0px;
}

.gradient1 {
    height: 300px;
    width: 350px;
    border-radius: 1000px;
    opacity: 0.4;
    background: radial-gradient(35.78% 35.77% at 50% 50%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    filter: blur(50px);
    position: absolute;
    left: -50px;
    margin-top: 140px;
}

.gradient2 {
    height: 300px;
    width: 400px;
    border-radius: 1000px;
    opacity: 0.4;
    background: radial-gradient(35.78% 35.77% at 50% 50%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    filter: blur(50px);
    position: absolute;
    left: -30px;
    bottom: 0px;
}


.container {
    width: 1500px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
    gap: 11px;
    padding-right: 11px
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.logo h1 {
    padding: 11px;
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.logo h1 span {
    color: #E11D2E;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.logo {
    display: flex;
    gap: 3px;
}

.btn {
    width: 130px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #AC1216;
    color: #FFF;
    text-align: center;
    padding: 11px;
    font-size: 11px;
}

.spiderShiba {
    height: 900px
}

.left {
    padding-top: 15px;
    padding-left: 15px;
}

.left h2 {
    color: #FFF;
    font-size: 70px;
    font-style: normal;

}

.left h2 span {
    color: #E11D2E;
    font-size: 70px;
    font-style: normal;
}

.left p {
    color: #A0A3B5;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 30px;
}

.p_first {
    color: #71768E;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.first_btn {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background: #E11D2E;
    color: #FFF;
    border: none;
    font-size: 15px;
}

.second_btn {
    margin-left: 10px;
    width: 270px;
    height: 60px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    color: #FFF;
    border: none;
    font-size: 15px;
}

.box .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right img {
    width: 500px;
    height: 400px;
    position: relative;
    z-index: 2;
    margin-left: 90px;
}

.box .container .right {
    margin-top: 30px;
    margin-right: 90px;
}


.right {
    position: relative;
}

.gradienti2 {
    position: relative;
    top: -300px;
    right: -60px;
}

.gradient3 {
    height: 500px;
    width: 500px;
    border-radius: 1000px;
    opacity: 0.4;
    background: radial-gradient(35.78% 35.77% at 50% 50%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    filter: blur(50px);
    position: absolute;
    top: 70px;
    right: 400px;
    z-index: 1;

}

.gradient4 {
    height: 300px;
    width: 350px;
    border-radius: 1000px;
    opacity: 0.4;
    background: radial-gradient(35.78% 35.77% at 50% 50%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    filter: blur(50px);
    position: absolute;
    top: 70px;
    right: 160px;
    z-index: 1;
}

.gradient5 {
    width: 200px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 1000px;
    opacity: 0.4;
    background: radial-gradient(35.78% 35.77% at 50% 50%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    filter: blur(50px);
    position: absolute;
    bottom: 70px;
    right: 160px;
    z-index: 1;
}

.path270 {
    padding-right: 60px;
}

.addres p span {
    color: rgba(255, 255, 255, 0.20);
    font-family: SF Pro Display;
    font-size: 15px;
    font-style: normal;
}

.addres p {
    color: rgba(255, 255, 255, 0.40);
    font-family: SF Pro Display;
    font-size: 25px;
    font-style: normal;
}

.addres {
    padding: 8px;
    margin-top: 40px;
    width: 600px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.09);
}

.foot {
    margin-top: 40px;
    height: 25px;
    width: 100%;
    background-color: #5A4039;
    display: flex;
    gap: 10px;
    font-size: 11px;
    text-align: center;
    padding: 10px;

}

.foot a {
    text-decoration: none;
    font-size: 10px;
    color: rgba(255, 245, 0, 0.60);
}

.world {
    height: 900px;

}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    opacity: 0.1;
    top: -150px;
}

.btn button {
    right: 0;
}

.pauk_box {
    position: relative;
    bottom: 270px;
    left: 440px;

}

.pauk {
    width: 700px;
    height: 650px;
    position: absolute;
}

.colors {
    position: relative;
}

.blue {
    position: absolute;
    right: 290px;
    bottom: 225px;

}

.red {
    padding-left: 300px;
    padding-bottom: 40px;
}

.yellow {
    position: absolute;
    right: 380px;
    bottom: -190px;
    z-index: 1;
}

.circles {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 350px;
    right: -40px;
}

.circle1 {
    position: absolute;
    width: 700px;
    height: 650px;
    border-radius: 1000px;
    opacity: 0.05;
    background: #143D85;
}

.circle2 {
    width: 550px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 1000px;
    opacity: 0.1;
    background: #143D85;
}

.circle3 {
    position: absolute;
    width: 350px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 1000px;
    opacity: 0.1;
    background: #143D85;
}

.circles img {
    position: absolute;
    width: 250px;
    height: 250px;
    margin-bottom: 200px;
}

.text_box {
    position: relative;
    top: -530px;
    width: 552px;
    margin-left: 530px;
    z-index: 2;
}

.text_box button {
    color: #FFF;
    padding: 10px 45px 15px 45px;
    gap: 15px;
    border-radius: 10px;
    background: #E11D2E;
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 170px;
    border: none;
}

.text_box p {
    color: #FFF;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.HowIt h3 {
    position: relative;
    bottom: 400px;
    color: #FFF;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 40px;
}

.HowIt_boxes {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    bottom: 350px;
}

.xob img {
    width: 316px;
    height: 80px;
}

.box_txt h1 {
    color: #FFF;
    font-size: 25px;
}

.box_txt .p_2 {
    color: rgba(255, 255, 255, 0.70);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 2;
}

.box_txt p {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.3;
}

.xob {
    width: 30%;
    height: auto;
    border-radius: 20px;
    background: #384D70;
    padding: 20px;
    margin-bottom: 20px;
}

.box2 {
    margin-top: 40px;
}

.games_txt h4 {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.games_txt p {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    opacity: 0.5;
}

.games {
    position: relative;
    bottom: 250px;
}

.game1 img {
    margin-top: 20px;
    margin-left: 45px;
    width: 1400px;
    height: 300px;
}

.game2 {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    padding-left: 60px;
    z-index: 1;
}

.game2 img {
    width: 680px;
    height: 180px;
}

.pauk2 {
    position: relative;
    z-index: 2;
    bottom: 85px;
}

.pauk2 img {
    width: 500px;
    height: 450px;
}

.violet {
    position: relative;
    bottom: 560px;
    background-color: #30298C;
    height: 502px;
}

.violet_box {
    display: flex;
}

.left_v h1 {
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}

.left_v p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    padding-bottom: 40px;
}

.left_v button {
    width: 304px;
    height: 60px;
    border-radius: 10px;
    background: #E11D2E;
    color: #FFF;
    border: none;
}

.left_v {
    padding-top: 100px;
    padding-left: 7%;
}

.right_v {
    position: relative;
}

.right_v img {
    margin-top: 20px;
    margin-left: 60px;
    width: 680px;
    height: 300px;
}

.txt h1 {
    color: #FFF;
    font-size: 22px;
    font-weight: 560;
    font-style: normal;
}

.txt p {
    padding-top: 10px;
    color: #FFF;
    font-size: 19px;
    opacity: 0.8;
}

.txt {
    position: absolute;
    right: 60px;
    top: 250px;
}